In [1]:
import pycurl
from io import BytesIO
import pandas

In [2]:
url = 'https://escrimeresults.com/NCAA/ncaa2017.html'

buffer = BytesIO()
c = pycurl.Curl()
c.setopt(c.URL, url)
c.setopt(c.WRITEDATA, buffer)
c.perform()
c.close()

body = buffer.getvalue()
html = pandas.read_html(body.decode('iso-8859-1'))

print (html[-2])

       0       1                                  2       3   4    5    6   \
0   Place  School                              Total  Remain  MS   MF   ME
1      1.     NaN                         Notre Dame     186   0   29   30
2      2.     NaN              Ohio State University     161   0   30   29
3      3.     NaN                   Columbia/Barnard     152   0   21   33
4      4.     NaN               Princeton University     145   0   18   18
5      5.     NaN                 Harvard University     124   0   34   25
6      6.     NaN              St. John's University     119   0   28   16
7      7.     NaN      Pennsylvania State University     118   0   28  NaN
8      8.     NaN        Pennsylvania, University of     107   0   13   26
9      9.     NaN                    Duke University      82   0   19   24
10    10.     NaN                Stanford University      78   0   13   17
11    11.     NaN                New York University      67   0   21   22
12    12.     NaN                    Yale University      63   0    7    7
13    13.     NaN             Wayne State University      54   0   15  NaN
14    14.     NaN                     U.C. San Diego      28   0  NaN   14
15    15.     NaN                 Cornell University      25   0  NaN  NaN
16    16.     NaN         NJ Institute of Technology      23   0  NaN    5
17    17.     NaN                  Temple University      20   0  NaN  NaN
18    18.     NaN                     Boston College      16   0  NaN  NaN
19    19.     NaN            Northwestern University      16   0  NaN  NaN
20    20.     NaN  Incarnate Word, University of the      14   0  NaN  NaN
21    21.     NaN                Fairleigh Dickinson      12   0  NaN  NaN
22    22.     NaN             U.S. Air Force Academy      11   0  NaN  NaN
23    23.     NaN                     Vassar College       9   0  NaN  NaN
24    24.     NaN                   UNC, Chapel Hill       9   0  NaN  NaN
25    25.     NaN                             M.I.T.       7   0  NaN  NaN
26    26.     NaN                   Brown University       7   0  NaN    7
27    27.     NaN       Detroit Mercy, University of       3   0  NaN    3

     7    8    9    10    11      12
0    WS   WF   WE  Ind    TS     NaN
1    27   31   39   30  +274  1133.0
2    27   15   38   22  +217  1015.0
3    23   16   40   19  +151  1091.0
4    28   31   13   37  +111   966.0
5    14   22   12   17   -12   898.0
6    31   30  NaN   14  +153   750.0
7    20   29   20   21   +12   838.0
8    25   19   24  NaN   -68   833.0
9    13    7    8   11  -105   625.0
10   20   12    6   10  -141   673.0
11    4   10   10  NaN   -91   553.0
12   10   12   15   12  -208   548.0
13  NaN   14   25  NaN   +83   378.0
14  NaN  NaN  NaN   14   +15   172.0
15  NaN  NaN   16    9   -50   225.0
16    9  NaN  NaN    9   -45   232.0
17  NaN    8  NaN   12   -23   158.0
18    6  NaN  NaN   10   -40   159.0
19  NaN  NaN    6   10   -55   131.0
20   10  NaN    4  NaN   -54   134.0
21  NaN  NaN  NaN   12    +0    93.0
22  NaN   11  NaN  NaN    -2    89.0
23    9  NaN  NaN  NaN    -3    89.0
24  NaN    9  NaN  NaN   -19    79.0
25  NaN  NaN  NaN    7   -15    85.0
26  NaN  NaN  NaN  NaN   -34    66.0
27  NaN  NaN  NaN  NaN   -51    51.0